@import './resets';
@import './variables';

main {
    display: grid;
}

.content2 {
    display: grid;
    position: relative;

    .formbox {
        justify-self: center;
        align-self: start;
        display: grid;
        justify-items: center;
        margin-top: 15px;
        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 100%;

        #edit-form {
            padding: 5px;
            width: 100%;
            max-width: 400px;
            height: 400px;

            div {
                position: relative;
                i {
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    color: grey;
                }

                input {
                    margin: 5px 0;
                    width: 100%;
                    padding: 5px;
                    border-radius: 5px;
                }

                select {
                    width: 100%;
                    font-size: 15px;
                }
            }

            #room_image {
                background: $pink-red;
                color: white;
                font-weight: 800;
                border: none;
                padding: 15px !important;
            }

            #output {
                width: 100%;
            }
        }
    }
}

.submit-wrapper {
    margin: 5px 0;

    p {
        font-size: 0.8em;
    }

    input {
        background: $pink-red;
        color: white;
        font-weight: 800;
        border: none;
        padding: 15px !important;
    }
}

.error {
    background: rgb(255, 255, 104);
    font-size: 0.8em;
    font-style: italic;
}

#delete-btn {
    padding: 5px;
    width: 100%;
    max-width: 400px;
}

#footer-content {
    padding-top: 500px !important;
}
