@import './resets';
@import './variables';

.content {
    display: grid;

    .formbox {
        justify-self: center;
        align-self: start;
        display: grid;
        justify-items: center;
        margin-top: 15px;
        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 100%;

        form {
            padding: 5px;
            width: 100%;
            max-width: 400px;
            height: 400px;

            div {
                position: relative;
                i {
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    color: grey;
                }

                input {
                    margin: 5px 0;
                    width: 100%;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.birthday-wrapper {
    label {
        font-size: 1.2em;
    }

    p {
        font-size: 0.8em;
    }
}

.submit-wrapper {
    margin: 5px 0;

    p {
        font-size: 0.8em;
    }

    input {
        background: $pink-red;
        color: white;
        font-weight: 800;
        border: none;
        padding: 15px !important;
    }
}

.error {
    background: rgb(255, 255, 104);
    font-size: 0.8em;
    font-style: italic;
}

.adminLabel {
    position: relative;
    display: flex;
    align-items: center;

    span {
        padding-left: 20px;
    }

    input {
        margin: 5px 0 !important;
        width: 25px !important;
        height: 25px !important;
        padding: 25px !important;
        border-radius: 0 !important;
    }
}
