<!doctype html>
<html>

<head>
    <title>Not Found</title>
    <link rel="stylesheet" href="css/not_found.min.css" type="text/css" />
</head>

<body>
    <section class="content">
        <h1>Whoops! Not found</h1>
    </section>
</body>

</html>