<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="css/registration.min.css" type="text/css" />
</head>

<body>
    <section class="content">
        <div class="formbox">
            <h2>User Registration</h2>
            <form action="/register-user" method="POST">
                <div>
                    <i class="far fa-envelope"></i>
                    <input id="email" type="email" name="email" placeholder="Email address" tabindex="1" /><br />
                    <p>*Your email will be your username.</p>
                </div>
                <div>
                    <i class="far fa-user"></i>
                    <input id="firstname" type="text" name="firstname" placeholder="First name" tabindex="2" /><br />
                </div>
                <div>
                    <i class="far fa-user"></i>
                    <input id="lastname" type="text" name="lastname" placeholder="Last name" tabindex="3" /><br />
                </div>
                <div>
                    <i class="fas fa-key"></i>
                    <input id="password" type="password" name="password" placeholder="Create a Password"
                        tabindex="4" /><br />
                </div>

                {{!-- <div>
                    <label for="adminRadio" class="adminLabel">
                        <input type="checkbox" id="adminRadio" name="adminCheck" value="yes" tabindex="5">
                        <span>Administrator</span>
                    </label>
                </div> --}}

                <div class="birthday-wrapper">
                    <label for="birthday">Birthday</label>
                    <p>To sign up, you need to be at least 18. Other people who use AlBnB won't see your birthday.</p>
                    <input id="birthday" type="date" name="birthday" tabindex="6" /><br />
                </div>
                <div class="submit-wrapper">
                    <input type="submit" value="Sign Up" tabindex="7" />
                </div>
            </form>
        </div>
        <script>
            let today = new Date().toISOString().substr(0, 10);
            document.querySelector("#birthday").max = today;
        </script>
    </section>
</body>

</html>